body{
    font-family: Roboto, Helvetica, sans-serif;
    background-color: white;
	color: #47555C;
    margin: 0;
}

header.cabecalho{
	text-align: center;
	width: 100%;
	margin: 0;
	box-sizing: border-box;
	padding: .5em;
	height: 50px;
	background-color: #246FD5;
	box-shadow: 0 1px 15px rgba(0,0,0,.25);
}

iframe{
	background-color: white;
}

a{
	color: #1E71CB;
	text-decoration: none;
	transition: color .5s;
}

a:hover{
	text-decoration: underline;
}

header.cabecalho img{
	width: 40px;
	height: auto;
	position: absolute;
	top:5px;
	left: 5px;
}

header.cabecalho h1{
	color: white;
	font-weight: normal;
	text-align: center;
	font-size: 1.2em;
	margin: 0;
	margin-bottom: .5em;
}

header.cabecalho h1{
	position: absolute;
	top: 14px;
	left: 50px;
}

button#enviarEmail{
    padding: .7em;
    font-size: 1.2em;
    display: block;
    border: 0;
    background-color: blue;
    color: white;
    margin-top: .4em;
}

input,textarea,select{
	width: 100%;
	box-sizing: border-box;
	padding: .7em;
	font-size: 1em;
	margin-right: 2em;
	margin-bottom: 1em;
	border: 1px solid #5F7AD0;
	background-color: #f1f1ed;
	border-radius: 4px;
	color: #163B73;

	transition: background .5s;
}

select{
	width: auto;
}

input:focus,textarea:focus,select:focus{
	outline: none;
	background-color: #D0E6FD;
}

button{
	padding: .7em;
	font-size: 1em;
	letter-spacing: 1px;
	margin-right: 2em;
	margin-bottom: 1em;
	min-width: 20%;
	background-color: #1F5BD4;
	color: white;
	border-radius: 4px;
	border: none;
	text-transform: uppercase;
	
	cursor: pointer;
	/*box-shadow: 1px 1px 3px rgba(0,0,0,.6);*/
	
	transition: background .5s;
}

button:hover{
	background-color: #277CF0;
}

.alert{
	background-color: #FFFF99;
	border: 2px solid #EFAD40;
	color: #5C5013;
	text-align: center;
	padding: .5em 1em;
	box-sizing: border-box;
	border-radius: 10px;
}

div.tabelaEmails {
    overflow: scroll;
    overflow-x: hidden;
}

.area_tabela{
	position: relative;
	float: right;
	box-sizing: border-box;
}

.area_tabela .tabela{
	margin: 0;
}

.enviarEmail .crud{
	width: 350px;
}

table {
	width: 99%;
	margin-top: 20px;
	background-color: white;
	font-size: .85em;
}


table caption{
	color: #3856E1;
	font-size: 16px;
	background-color: white;
	border-bottom: 1em;
}

table, tr, td, th {
	
	border-collapse: collapse;
	padding: .4em;
	margin: auto;
}

table td:first-child {
    text-align: center;
}

td{
	border-right: 2px solid white;
	text-align: center;
}

table th{
	color: #2884D9;
	border-collapse: collapse;
	border-bottom: 1px solid #8493AF;
	padding: .4em;
	font-weight: normal;
	margin: auto;
	color: #2884D9;
}

table img{
	width: 24px;
	height: auto;
}

table th td{
	padding-bottom: .2em;
	background-color: white;
}

tr:nth-child(even) {
	background-color: #f1f1f5;
}

input[type=checkbox] {
    display: inline-block;
}

input[disabled=true],input[name=id]{
	background-color: #a7b3b2;
	cursor: default;
	color: #828676;
	pointer-events: none;
}


div.wrap {
	width: 90%;
	margin: 0 auto;
}



div.wrap h1{
	font-size: 1.5em;
	margin: 0;
	padding: 10px;
	padding-bottom: 3px;
	color: #4456DD;
	box-sizing: border-box;
	font-weight: normal;
	border-bottom: 2px solid #302FA3;
	margin-bottom: 1.1em;
}


div.confirma, div.so_tabela{
	margin: 0 auto;
	box-sizing: border-box;
}




div.confirma .crud{
	width: 400px;
}

div.confirma h1, div.so_tabela{

}

div.confirma input{
	max-width: 400px;
}

div.so_tabela .area_tabela{
	float: none;
	width: 100%;
}


div.botoes {
    overflow: hidden;
}

div.botoes button {
    margin-bottom: .5em;
    font-size: 1em;
    color: white;
    padding: .5em 1em;
    float: right;
    cursor: pointer;
}

div.botoes button[type=reset]{
	background-color: #deaf4a;
}

#cadastrarEmail {
    font-size: .8em;
    text-align: right;
}

#cadastrarEmail input {
    color: #565656;
    border: 1px solid #E1DFE8;
    padding: 1em;
    font-size: .9em;
    min-width: 80%;
}

button#enviarCadastro{
    display: block;
    background-color: #00d5c0;
    font-size: 1.2em;
    color: white;
    border: 0;
    padding: .7em;
    margin-left: 4.7em;
}

.login{
	width: 280px;
	margin: 0 auto;
	margin-top: 10%;
	padding: 40px;
}

.login img{
	width: 100%;
	height: auto;
}

.erro{
	color: orange;
	text-align: center;
	font-size: .8em;
}

.login h1{
	margin:0;
	margin-bottom: 1em;
	font-weight: normal;
	color: #1870CD;
	font-size: 1.1em;
	text-align: center;
}

textarea.emails{
	display: block;
}

.menu{
	position: absolute;
	right: 5px;
	top: 13px;
	min-width: 600px;
}

.menu nav{
	margin: 0;
}

.menu nav ul{
	margin: 0;
	padding: 0;
	text-align: right;
}

.menu nav ul li{
	text-align: right;
	margin: 0 13px;
	list-style: none;
	display: inline-block;
	color: #a8adae;
	cursor: pointer;
}

.menu nav ul li a{
	color: #8AEFFF;
	text-decoration: none;
	font-size: .8em;
}

.menu nav ul li a:hover{
	color: white;
}

.alerta{
	width: 650px;
	margin-left: -162.5px;
	box-shadow: 0 0 30px rgba(0,0,0,.5);
	position: fixed;
	left: 500px;
	background-color: white;
	z-index: 99999;
	top: 2000000px;
	-webkit-transition: .5s all ease-out;
	-moz-transition: .5s all ease-out;
}

.alerta h3{
	font-size: 1em;
	color: #1e6154;
	text-align: center;
	padding: .3em .6em;
}

.alerta .conteudo{
	padding: 1em;
	color: #1e1e1e;
}

.crud{
	width: 300px;
	padding: 0;
	float: left;
	border-right: 1px solid #dedede;
	margin: 0 auto;
	margin: 15px;
	margin-right: 0;
	padding-right: 20px;
	box-sizing: border-box;
}

h2.retorno_mensagem{
	background-color: #ffffdc;
	margin: 0;
	padding: 3px 5px;
	font-size: .8em;
	text-align: center;
	margin-bottom: 1em;
	font-weight: normal;
	color: #6d5022;
}

.conferir{
	padding: 10px;
	box-shadow: 0 2px 8px rgba(0,0,0,.3);
	border: none;
}

.resumo{
	font-size: .9em;
	width: 700px;
	overflow: visible;
	margin: 0 auto;
	float: left;
	margin-left: 20px;
}

.resumo iframe{
	height: auto;
	overflow: visible;
}

.resumo h2{
	font-size: 1em;
	font-weight: normal;
	display:block;
	width: 100%;
	padding: .3em 0;
	margin: 0;
	border-bottom: 1px solid #2183a0;
	color: #2183a0;
	margin-bottom: 1em;
}

.resumo p{
	margin: 0;
	margin-bottom: 10px;
}

.tela_confirmacao{
	position: relative;
	margin-top: 1em;
	height: auto;
}

button.teste{
	background-color: #26a4cd;
}

button.voltar{
	background-color: #d48332;
}

#colorbox{
	background-color:white;
	padding: 20px;
	border-radius: 10px;
	outline: none;
	box-shadow: 0 0 1em rgba(0,0,0,.2);
}

#cboxOverlay{
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background-color:rgba(255,255,255,.85);
}

#cboxContent button{
	margin-top: 2em;
	font-size: 16px;
	text-transform: capitalize;
	margin-left: 0;
	padding: 10px;
	width: auto;
}


.filtro{
	padding: 5px;
	padding-top: 10px;
	/*border-bottom: 1px solid #65aad4;*/
	font-size: .8em;
}

td.erro{
	color: #c7c7c7;
}
td.enviando{
	color: #1dc2af;
}
td.enviado{
	color: #03b717;
}
td.nao_enviado{
	color: #e49c02;
}


div.confirma .enviarEmail{
	display: flex;
	justify-content: space-between;
	width: 100%;
}

div.confirma .enviarEmail .area_mensagem,.resumo{
	width: calc( 100% - 450px);
	max-width: 800px;
    margin: 0 auto;
}

.area_crud{
	display: flex;
	justify-content: space-between;
}

.area_crud .crud{
	width: 400px;
}

.area_tabela_crud{
	width: calc( 100% - 450px);
	margin: 0 auto;
}

.mce-btn button:hover{
	background-color: #C4DCFD;
	border-radius: none;
}

.mce-container-body button,.mce-container button{
	padding: 5px !important;
	font-size: .8em !important;
	box-shadow: none !important;
}

.mce-window-head .mce-close{
	min-width: inherit;
	border-radius: 0;
	letter-spacing: normal;
	text-transform: none;
}

.mce-window-head .mce-close:hover{
	background-color: transparent;
}


.area_tabela h3{
	font-size: 1.1em;
	margin: 0;
	color:#0D68AD;
	font-weight: normal;
	margin-bottom: .5em;
}

.mce-menubtn span{
	font-size: .9em !important;
}

.obs{
	background-color: #DAF6FF;
	border: 2px solid #317DC4;
	box-sizing: border-box;
	padding: .5em 1em;
	text-align: center;
	border-radius: 10px;
	color: #103887;
	font-weight: bold;
}

.instrucoes .pre{
	width: 100%;
	white-space: pre-wrap;
	text-align: left;
	box-shadow: 0 0 10px rgba(0,0,0,.5);
	border-bottom: 2px solid lightgrey;
	box-sizing: border-box;
	padding: 1.5em;
	font-family: Consolas, Andale Mono, Lucida Console, Lucida Sans Typewriter, Monaco, Courier New, monospace;
	font-size: .9em;
	line-height: 1.1em;
}

.retorno{
	color: #1513CD;
}


.login.instalador{
	margin-top: 2em;
	width: 80%;
	max-width: 600px;
}

.login.instalador img{
	width: 25%;
}

.login.instalador p{
	margin-top: 0;
	font-size: .9em;
}

.login.instalador h2{
	margin-top: 0;
	color: #182D57;
	text-align: center;
}

.login.instalador p.mini-info{
	color: #1F809E;
	margin-top: 1em;
	margin-bottom: 5px;
}